---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="ivan's portfolio">
	<Navbar />
	<main>
		<Intro></Intro>
	</main>
</Layout>
