<div class="w-full mx-auto py-12" id="intro">    
    <div class="bs-container " >
        <div class="mx-auto py-6 pb-4">
            <noscript>
                <div class="h-[100px]">
                    Note: Javascript is disabled in your browser.
                </div>
            </noscript>        
            <div class="md:flex">
                <!-- First column -->
                <div class="flex items-center justify-center md:w-1/2">
                    <picture class="mx-auto">
                        <source 
                            srcset="https://notes-webp.s3.amazonaws.com/0026-iv.webp" 
                            type="image/webp"
                        >
                        <source 
                            srcset="https://ivanotes.s3.amazonaws.com/img/0026-iv.png" 
                            type="image/png"
                        >
                        <img 
                            src="https://ivanotes.s3.amazonaws.com/img/0026-iv.png" 
                            alt="profile-picture" 
                            width="180"
                            height="180"
                            class="mx-auto"
                        >
                    </picture>
                </div>        
                <!-- Second column -->
                <div class="flex flex-col items-center md:w-1/2">
                    <h1 class="text-4xl  font-medium mt-0 mb-2 leading-relaxed">Ivan Bautista</h1>
                    <h2 class="text-3xl font-medium pb-6">Mechatronics Engineer</h2>
                    <p class="intro text-left mb-4 mx-2">
                        I build web and mobile applications, and enjoy exploring electronics and 3D printing projects. 
                    </p>
                    <p class="intro text-left mb-4 mx-2">
                        Comfortable with both software and hardware, I enjoy bringing ideas to life through technology.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>